.fuente{
    font-family: 'Rubik Mono One', sans-serif;
}

.fondo{
    background: rgb(211, 211, 211);
    background: linear-gradient(90deg, rgb(209, 209, 209) 49%, rgb(209, 209, 209) 98%);
}

.fondobanner{
    background-image: url("img/ima-hd-dragon-ball-super.jpg");
    height: 600px;
    background-attachment: fixed;
    background-position: top center;
}