.fuente{
    font-family: 'Rubik Mono One', sans-serif;
}

.fondo{
    background: rgb(34, 32, 32);
    background: linear-gradient(90deg, rgb(24, 22, 22) 49%, rgb(34, 31, 31) 98%);
}

.fondobanner{
    background-image: url("img/Dragon-Ball_fondo1.jpg");
    height: 600px;
    background-attachment: fixed;
    background-position: top center;
}

.fondobannerdb{
    background-image: url("img/Goku-nube-voladora-dragon-ball.jpg");
    height: 600px;
    background-attachment: fixed;
    background-position: top center;
}

.img-footer{
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: 60%;
    border-radius: 60%;
    background-size: 100% auto;
}